// Import Source Sans from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

//Define font and primary font colour
$font_stack: 'Source Sans Pro', sans-serif;
$primary_colour: #1A3B5D;

// Define flex mixin
@mixin flex($direction, $wrap, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    align-content: $align;
    justify-content: $justify;
}

// Breakpoints for media queries
$small: 600px;

// Override any defaults for font and box-sizing
* {
    font-family: $font-stack;
    box-sizing: border-box;
}

// Hide arrows on number input fields
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

body {
    background: #DDEEFC;
    position: relative;
    margin: 0;
    padding: 35px;

    @media all and (max-width: $small) {
        padding: 25px;
    }
}

.card-form {
    background-color: #FFF;
    color: $primary-colour;
    padding: 35px;
    box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
    width: 50%;
    min-width: 500px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;

    @media all and (max-width: $small) {
        padding: 25px;
        min-width: 0;
        width: 100%;
    }

    .card-form__label {
        font-size: 14px;
        font-weight: 500;
        color: $primary-colour;
        margin-bottom: 5px;
        display: block;
    }

    .card-form__input {
        font-size: 18px;
        font-weight: 400;
        color: $primary-colour;
        border: 1px solid #CED6E0;
        border-radius: 5px;
        padding: 5px 15px;
        margin-bottom: 20px;
        display: block;
        width: 100%;

        &:hover {
            border: 1px solid #3D9CFF;
        }
        &:focus {
            box-shadow: 0 10px 20px -13px rgba(32, 56, 117, 0.35);
            outline: 0;
        }
    }

    .card-form__columns {
        @include flex(row, nowrap, flex-start, space-between);

        @media all and (max-width: $small) {
            flex-direction: column;
        }

        .card-form__columns__date {
            width: 60%;

            @media all and (max-width: $small) {
                width: 100%;
            }

            .card-form__columns__date__fields {
                width: 100%;
                margin: 0;
                @include flex(row, nowrap, flex-start, space-between);

                .card-form__input--select {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    position: relative;
                    width: 48%;
                    padding: 5px 30px 5px 15px;
                    background-image: url('keyboard_arrow_down-black-18dp.svg');
                    background-repeat: no-repeat;
                    background-position-x: calc(100% - 5px);
                    background-position-y: 50%;
                }
            }
        }

        .card-form__columns__cvv {
            width: 33%;

            @media all and (max-width: $small) {
                width: 100%;
            }
        }
    }

    .card-form__submit {
        background-color: #2364D2;
        box-shadow: 3px 10px 20px 0px rgba(35, 100, 210, 0.3);
        margin-top: 20px;
        color: #FFFFFF;
        font-size: 22px;
        font-weight: 500;
        width: 100%;
        text-align: center;
        border: none;
        border-radius: 5px;
        padding: 5px 15px;

        @media all and (max-width: $small) {
            margin-top: 10px;
        }
    }
}